<a href="https://colab.research.google.com/github/N786h/MachineLearning/blob/main/classificatin_metrics_mnist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
file_id = '15uemk0nW_wCT2jO-nRqGtu3oBJuLCGKv'
download = drive.CreateFile({'id': file_id})
download.GetContentFile('kaggle.json')

In [3]:
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [4]:
!kaggle competitions download -c digit-recognizer

Downloading digit-recognizer.zip to /content
 78% 12.0M/15.3M [00:00<00:00, 21.6MB/s]
100% 15.3M/15.3M [00:00<00:00, 16.7MB/s]

In [5]:
!unzip -q /content/digit-recognizer.zip
!rm /content/digit-recognizer.zip

In [6]:
df = pd.read_csv('/content/train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:], df.iloc[:,0], test_size=0.2, random_state=42)

In [8]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred2 = dt.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score, confusion_matrix
print("Accuracy of Logistic Regression", accuracy_score(y_test, y_pred1))
print("Accuracy of Decision Tree", accuracy_score(y_test, y_pred2))

Accuracy of Logistic Regression 0.9183333333333333
Accuracy of Decision Tree 0.8548809523809524

In [11]:
print("Logistic Regression Confusion Matrix")
pd.DataFrame(confusion_matrix(y_test, y_pred1), columns=list(range(0,10)))

Logistic Regression Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  787    0    2    2    3   13    6    1    2    0
1    0  887    6    0    1    4    1    2    7    1
2    5   12  758   13    9    9   11    8   20    1
3    2    3   26  831    0   24    1    9   25   16
4    5    1    5    1  779    1   11    3    5   28
5    7    2    7   25    8  610   18    2   20    3
6    7    1    6    0    3    7  754    1    5    1
7    0    2    6   12   13    2    1  819    6   32
8    4   11    8   28    6   25    6    4  738    5
9    7    3    2   12   20    8    0   28    7  751

In [12]:
print("Decision Tree Confusion Matrix")
pd.DataFrame(confusion_matrix(y_test, y_pred2), columns=list(range(0,10)))

Decision Tree Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  742    3   12   11    6   14    8    7    6    7
1    1  864   11    6    2    7    3    2   11    2
2   12   18  693   25   13    7   14   31   23   10
3    7   11   25  761   12   45    8   13   37   18
4    7    8    8   10  714   11   12    9   16   44
5    9   10   13   33   10  561   24    6   28    8
6    9    5    8    7   12   34  690    0   17    3
7    8    7   26   18   10    4    1  788    4   27
8    6   16   34   33   31   22    9    3  654   27
9    7    6   11   17   28   16    2   21   16  714

In [13]:
from sklearn.metrics import precision_score, recall_score, f1_score
print("precision_score", precision_score(y_test, y_pred1, average='weighted'))
print("recall_score", recall_score(y_test, y_pred1, average='weighted'))
print("f1_score", f1_score(y_test, y_pred1, average='weighted'))

precision_score 0.918193813333413
recall_score 0.9183333333333333
f1_score 0.9182097218284928

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       816
           1       0.96      0.98      0.97       909
           2       0.92      0.90      0.91       846
           3       0.90      0.89      0.89       937
           4       0.93      0.93      0.93       839
           5       0.87      0.87      0.87       702
           6       0.93      0.96      0.95       785
           7       0.93      0.92      0.93       893
           8       0.88      0.88      0.88       835
           9       0.90      0.90      0.90       838

    accuracy                           0.92      8400
   macro avg       0.92      0.92      0.92      8400
weighted avg       0.92      0.92      0.92      8400