<a href="https://colab.research.google.com/github/N786h/MachineLearning/blob/main/Import_data_from_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!mkdir /root/.kaggle
!echo '{"username":"nazeerhaider","key":"905954ccaf37202de8e318e999959d9e"}' > /root/.kaggle/kaggle.json

In [3]:
# For your security, ensure that other users of your computer do not have read access to your credentials
!chmod 600 /root/.kaggle/kaggle.json

In [4]:
!kaggle datasets list

ref                                                                   title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                                 Data Science Salaries 2023 üí∏                         25KB  2023-04-13 09:55:16          27010        755  1.0
tawfikelmetwally/automobile-dataset                                   Car information dataset                               6KB  2023-05-28 18:26:48           1716         47  0.9411765
fatihb/coffee-quality-data-cqi                                        Coffee Quality Data (CQI May-2023)                   22KB  2023-05-12 13:06:39           4266         92  1.0
mohithsairamreddy/salary-data                                         Salary_Data                                          17KB  2023-05-18 14:05:19           3754         73  0.88235295
mauryansshivam/netflix-ott-revenue-and-subscribers-csv-file           Netflix OTT Revenue and Subscribers (CSV File)        2KB  2023-05-13 17:40:23           2119         51  1.0
omarsobhy14/mcdonalds-revenue                                         üçüüí∞From Flipping Burgers to Billions: McDonald's      565B  2023-06-01 23:22:49            478         24  1.0
zsinghrahulk/rice-pest-and-diseases                                   Rice - Pest and Diseases                            312KB  2023-06-01 08:57:29            390         25  1.0
iammustafatz/diabetes-prediction-dataset                              Diabetes prediction dataset                         734KB  2023-04-08 06:11:45          14087        204  1.0
vstacknocopyright/fruit-and-vegetable-prices                          Fruit and Vegetable Prices                            1KB  2023-06-02 06:17:43            645         25  0.7647059
bilalwaseer/microsoft-stocks-from-1986-to-2023                        Microsoft Stocks from 1986 to 2023                  120KB  2023-05-16 10:07:28            810         25  0.9411765
darshanprabhu09/stock-prices-for                                      Stock prices of Amazon , Microsoft , Google, Apple   85KB  2023-05-16 15:17:16           1781         40  1.0
rajkumarpandey02/2023-world-population-by-country                      World Population by Country                         38KB  2023-06-01 06:10:41           1147         29  1.0
danishjmeo/karachi-housing-prices-2023                                Karachi_Housing_Prices_2023                           1MB  2023-06-01 07:08:13            409         24  0.88235295
adityaramachandran27/world-air-quality-index-by-city-and-coordinates  World Air Quality Index by City and Coordinates     372KB  2023-05-07 07:29:26           1702         39  1.0
dansbecker/melbourne-housing-snapshot                                 Melbourne Housing Snapshot                          451KB  2018-06-05 12:52:24         117222       1277  0.7058824
pushpakhinglaspure/oscar-dataset                                      Oscar Academy Award-winning films 1927-2022         161KB  2023-05-21 18:14:44            465         25  1.0
aryansingh0909/weekly-patent-application-granted                      Patent Application Granted Dataset                    6MB  2023-06-01 19:04:40            286         23  1.0
utkarshx27/heart-disease-diagnosis-dataset                            Heart Disease Prediction Dataset                      3KB  2023-05-26 09:33:13           1016         31  1.0
shreyanshverma27/water-quality-testing                                Water Quality Testing                                 4KB  2023-05-16 05:22:17           1099         31  0.9411765
desalegngeb/conversion-predictors-of-cis-to-multiple-sclerosis        Multiple Sclerosis Disease                            3KB  2023-05-18 09:41:09            815         29  1.0

In [5]:
!kaggle datasets download -d arnabchaki/data-science-salaries-2023

Downloading data-science-salaries-2023.zip to /content
  0% 0.00/25.4k [00:00<?, ?B/s]
100% 25.4k/25.4k [00:00<00:00, 37.6MB/s]

In [6]:
!unzip -q /content/data-science-salaries-2023.zip

In [7]:
!rm /content/data-science-salaries-2023.zip

In [8]:
df = pd.read_csv('/content/ds_salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M